.columns {

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	@media (min-width: 1024px) {
		margin: 0 -27px;

		@for $i from 1 through 6 {

			&__item-#{$i} {
				float: left;
				width: 1 / 6 * $i * 100%;
				padding: 0 27px;
				box-sizing: border-box;
			}
		}
	}

	@media (max-width: 1365px) and (min-width: 1024px) {

		margin: 0 -15px;

		@for $i from 1 through 6 {

			&__item-#{$i} {
				float: left;
				width: 1 / 6 * $i * 100%;
				padding: 0 15px;
				box-sizing: border-box;
			}
		}
	}
}