@font-face {
	font-family: AvenirNextCyr-Medium;
	src: url(../fonts/AvenirNextCyr-Medium.otf),
			 url(../fonts/AvenirNextCyr-Medium.ttf);
	font-weight: normal;
}
@mixin font-an-med() {
	font-family: AvenirNextCyr-Medium, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Demi;
	src: url(../fonts/AvenirNextCyr-Demi.otf),
			 url(../fonts/AvenirNextCyr-Demi.ttf);
	font-weight: normal;
}
@mixin font-an-demi() {
	font-family: AvenirNextCyr-Demi, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Bold;
	src: url(../fonts/AvenirNextCyr-Bold.otf),
			 url(../fonts/AvenirNextCyr-Bold.ttf);
	font-weight: normal;
}
@mixin font-an-bold() {
	font-family: AvenirNextCyr-Bold, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Regular;
	src: url(../fonts/AvenirNextCyr-Regular.otf),
			 url(../fonts/AvenirNextCyr-Regular.ttf);
	font-weight: normal;
}
@mixin font-an-reg() {
	font-family: AvenirNextCyr-Regular, sans-serif;
}