@font-face {
	font-family: AvenirNextCyr-Medium;
	src: url(../fonts/AvenirNextCyr-Medium.otf);
			 //url(../fonts/FuturaPTMedium.woff2) format('woff2'),
			 //url(../fonts/FuturaPTMedium.woff) format('woff');
	font-weight: normal;
}
@mixin font-an-med() {
	font-family: AvenirNextCyr-Medium, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Demi;
	src: url(../fonts/AvenirNextCyr-Demi.otf);
	font-weight: normal;
}
@mixin font-an-demi() {
	font-family: AvenirNextCyr-Demi, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Bold;
	src: url(../fonts/AvenirNextCyr-Bold.otf);
	font-weight: normal;
}
@mixin font-an-bold() {
	font-family: AvenirNextCyr-Bold, sans-serif;
}

@font-face {
	font-family: AvenirNextCyr-Regular;
	src: url(../fonts/AvenirNextCyr-Regular.otf);
	font-weight: normal;
}
@mixin font-an-reg() {
	font-family: AvenirNextCyr-Regular, sans-serif;
}

@font-face {
	font-family: PT_Sans-Web-Regular;
	src: url(../fonts/PT_Sans-Web-Regular.ttf);
	font-weight: normal;
}
@mixin font-pts-reg() {
	font-family: PT_Sans-Web-Regular, sans-serif;
}