.footer-list {
	@include font-an-reg();

	&__title {
		margin-bottom: 22px;
		font-size: 18px;
		line-height: 1.2em;
		color: rgba(255,255,255,.4);
	}

	&__link {
		margin-bottom: 13px;
		display: block;
		font-size: 14px;
		line-height: 1.2em;
		color: #fff;
		white-space: nowrap;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include max-width($md) {

		&__link {
			white-space: normal;
		}
	}

	@include max-width($sm) {

		&__title {
			margin-bottom: 0;
			margin-right: -32px;
			border-bottom: 1px solid #697176;
			@include font-an-reg();
			font-size: 32px;
			line-height: 111px;
			cursor: pointer;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -13px;
				right: 35px;
				width: 15px;
				height: 15px;
				border-bottom: 2px solid #949494;
				border-right: 2px solid #949494;
				transform: rotate(45deg);
			}
		}

		&__items {
			display: none;
		}
	}
}