.menu {

	&__list {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 51px;
	}

	&__link {
		@extend %header-down-text;
	}

	@include max-width($md) {
		padding-left: 67px;
	}
}