.nav {

	&__list {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 38px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		@extend %header-up-text;
	}

	@include max-width($md) {

		&__list {
			padding-left: 20px;
		}

		&__item {
			margin-right: 25px;
		}
	}
}