.shops {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0f8433 url('../img/loyalty-bg.jpg') no-repeat center center;
	background-size: cover;

	.container {
		width: 100%;
		text-align: center;
	}

	&__title {
		margin: 0 auto;
		padding-left: 130px;
		display: inline-block;
		vertical-align: top;
		@include font-an-med();
		font-size: 123px;
		line-height: 1em;
		color: #fff;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -$marker-height / 2;
			left: 0;
			@include sprite($marker);
		}

		span {
			display: block;
			@include font-an-med();
			font-size: 24px;
			line-height: 1.2em;
			color: #bdcf01;
		}
	}
}