mixin loyalty()
	.loyalty
		.container
			.loyalty__title Платите меньше
			.loyalty__text
				|Станьте частью программы лояльности: получите карту <br>
				|Пятерочки в любом магазине сети и покупайте дешевле.
			.loyalty__image
				img(src='../img/svg/logo.svg')
			a(href='#').btn._lg.loyalty__link Зарегистрировать карту